<div class="container">
    <div class="jumbotron">
    </div>
    <h1 class="display-3">TEEN@home a.k.a Teen Topics</h1>
    <p class="lead">Be a helper share your experience about finding a job throw our app or <a routerLink="/donate">donate</a> to help them get professional HR help!</p>
    <p><a class="btn btn-lg btn-success right-align" routerLink="/donate" role="button">DONATE NOW!</a></p>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4><strong>TEEN HELPER</strong></h4>
            <p>It’s not easy being a teenager in today’s world. From depression to bullying and cutting, teens grapple with a wide range of issues as they grow and develop. But here’s the good news: you’re not alone and you can feel better.<br> Learn more
                about the signs and symptoms of some common teen challenges, what you can do to help yourself, and how to reach out and talk about tough subjects with your friends and family members.
            </p>
            <p>Тeens are knowledgeable, smart, and confident. They have little challenge to make the right choice when these topics are presented. However, it is important to recognize that these issues are possibly effecting the families and friends with
                which spends time.</p>
            <h4 class="helpguide"><a href="http://www.helpguide.org/articles/teen-issues/helping-troubled-teens.htm"><strong>JOB AND CAREER RESOURCES FOR TEENS</strong></a></h4>
            <p>Are you a teenager looking for a job? Or perhaps a parent who is helping your kid to get their first job? Whether you are looking for a part-time job or internship, we have 169 companies in our database which may hire teenagers.</p>
            <h4 class="important"><strong>What you can do</strong></h4>
            <div class="box important-box">
                <ol>
                    <li><strong>Start researching.</strong>Find organizations and other places that you know pay teens to work.</li>
                    <li><strong>Get the word out.</strong> You can post flyers in your neighborhood detailing jobs that you can do</li>
                    <li><strong>Use your connections.</strong> Talk to friends and family about any paying jobs they might know of, and follow through.</li>
                    <li><strong>Volunteer.</strong> Sometimes, the best way to get a paying job is to begin as a volunteer and work your way up</li>
                    <li><strong>Make a resume.</strong> Even if most jobs you apply for don't ask for a resume, it's a good exercise, and it's useful to have your work history and education details</li>
                    <li><strong>Apply early!</strong> The most important key to getting jobs with these places is to apply as soon as you hear about jobs</li>
                    <li><strong>Go to an interview.</strong> One of the most often asked questions is: Why do you feel you are qualified for this job?</li>
                    <li><strong>Increase your earnings. </strong> After working at the entry level position for a few summers or after school, you will the have the experience to work at a higher level</li>
                </ol>
            </div>
        </div>

        <div class="col-lg-6">
            <h4 class="link"><a href="http://www.hireteen.com/"><strong>Hire Teen</strong></a></h4>
            <p>Job application should be processed in the website of the company you are applying for or you need to follow the guideline which is provided on each company review.</p>
            <h4 class="link"><a href="http://www.snagajob.com/job-search/q-teen"><strong>Snaga job</strong></a></h4>
            <p>Get solutions across the entire hiring process—more applications, qualified hires, easier scheduling and more.</p>
            <h4 class="link"><a href="http://www.dreamhomebasedwork.com/online-jobs-for-teens/"><strong>Dream home based work</strong></a></h4>
            <p>Most people who have a regular job during the day, end up taking jobs that they can do in the evening or the night. If you are a night owl, you do not need to spend all your time flipping through channels on late night TV. You can actually
                spend your time in a more constructive way and make some money while at it. Here are 21 jobs flexible enough.</p>
            <h4 class="drug-abuse"><strong>Popular part-time jobs and small business opportunities:</strong></h4>
            <div class="box important-box">
                <ul>
                    <li><strong>Animal Shelter Worker</strong></li>
                    <li><strong>Arts and Crafts Production and Sales</strong></li>
                    <li><strong>Babysitting</strong></li>
                    <li><strong>Car Wash Attendant</strong></li>
                    <li><strong>Document and Photograph Archival Services</strong></li>
                </ul>
            </div>
            <a class="btn btn-lg btn-success center" href="http://www.hireteen.com/" role="button">FIND MORE</a>
        </div>
    </div>
</div>
<br><br>
<br>