<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">A2 GENESIS - TEEN@home
                <small>It's Nice to Meet You!</small>
            </h2>
            <p>View the source code: <a href="https://github.com/Angular-2/A2-Genesis" target="_blank">Github</a></p>

            <p>Please visit: <a href="https://github.com/Angular-2/A2-Genesis/blob/master/CourseProject.md" target="_blank">Project Requirements</a></p>
            <p>This application was developed as a part of Telerik Academy's Angular 2 course.</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div id="members" class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Our Team</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../../../../assets/rumen-tsanev.jpg" alt="">
            <h3>Rumen Tsanov
                <br><small>Front-End Developer</small>
            </h3>
            <p>
                <a href="https://telerikacademy.com/Users/RumenTsanov" target="blank"> <strong>RumenTsanov</strong></a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../../../../assets/niya-keranova.jpg" alt="">
            <h3>Niya Keranova
                <br><small>Designer/Front-End Developer</small>
            </h3>
            <p>
                <a href="https://telerikacademy.com/Users/Nayata" target="blank"> <strong>Nayata</strong></a>
            </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="../../../../assets/georgi-karaboichev.jpg" alt="">
            <h3>Georgi Karaboichev
                <br><small>Back-End Developer</small>
            </h3>
            <p>
                <a href="https://telerikacademy.com/Users/prot3ct" target="blank"> <strong>prot3ct</strong></a>
            </p>
        </div>

    </div>
</div>
<br>