<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Help parents of troubled teens</h1>
        <p class="lead">Be a helper share your knowledge about rasing troubled children or <a routerLink="/donate">donate</a> to help them get professional help!</p>
        <p><a class="btn btn-lg btn-success" routerLink="/donate" role="button">DONATE NOW!</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4><strong>PARENT HELPER</strong></h4>
            <p>Parenting has often been described as a full-time job. Moms and dads have to organize children’s schedules, find kid-friendly places to eat, and remember all the things that their family needs from the grocery store this week. Fortunately,
                there is TEEN@home app that can help busy parents to keep track of everything. <br> We are here to help parents with all parenting challenges from those everyday situations to the most serious issue of child abuse.</p>
            <p>Parenting a teenager is never easy, but when your teen is violent, depressed, abusing alcohol or drugs, or engaging in other reckless behaviors, it can seem overwhelming. You may feel exhausted from lying awake at night worrying about where
                your child is, who he or she is with, and what they're doing. You may despair over failed attempts to communicate, the endless fights, and the open defiance. Or you may live in fear of your teen's violent mood swings and explosive anger.
                While parenting a troubled teen can often seem like an impossible task, there are steps you can take to ease the stress you and your teen feel. This can significantly reduce the chaos at home and help your teen transition into a happier,
                more successful young adult.</p>
            <h4 class="important"><strong>What you can do</strong></h4>
            <div class="box important-box">
                <ol>
                    <li>Invest in focused face-to-face time with your teenager each day</li>
                    <li>Listen without judging or giving advice</li>
                    <li>Find common ground, such as sports or movies</li>
                    <li>Create structure, such as regular mealtimes and bedtimes, to make a teen feel safe and secure</li>
                    <li>Encourage exercise to help ease depression, boost energy and mood, and improve your teen’s self-esteem</li>
                    <li>Encourage 7 to 9 hours of restful sleep every night</li>
                    <li>Learn more by reading the related articles</li>
                </ol>
            </div>
            <h4 class="helpguide"><a href="http://www.helpguide.org/articles/teen-issues/helping-troubled-teens.htm"><strong>HELPGUIDE</strong></a></h4>
            <p>As the parent of a troubled teen, you’re faced with even greater challenges. This is especially true if your teen is abusing drugs or alcohol. A troubled teen faces behavioral, emotional, or learning problems beyond the normal teenage issues.
                They may repeatedly practice at-risk behaviors such as violence, skipping school, drinking, drug use, sex, self-harming, shoplifting, or other criminal acts.</p>
        </div>

        <div class="col-lg-6">
            <h4 class="link"><a href="http://www.parenthelp.org.nz/"><strong>Parent Help</strong></a></h4>
            <p>At Parent Help we offer the only designated free national parenting helpline in New Zealand that is available from 9am to 11pm – seven days a week. The Parent Helpline has no time limit on calls – the greatest gift we can give parents is to
                listen and listen well. We are here to help parents with all parenting challenges from those everyday situations to the most serious issue of child abuse.</p>
            <h4 class="link"><a href="http://busyparentsnetwork.com/"><strong>Busy Parents Network</strong></a></h4>
            <p>Busy Parents Network is a community social enterprise set up with the specific intention of bringing families together in the local community for fun, education, companionship and friendship. We are interested in building community cohesion,
                empowering families to make the communities they live in better places to be and creating social change.</p>
            <h4 class="link"><a href="http://www.teendrugrehabs.com/"><strong>Teen drug rehabs</strong></a></h4>
            <p>Drug abuse and addiction that starts in the teenage years can lead to lifelong abuse and addiction if the problem isn’t addressed early on. Parents need to know what to look for and how to get help.</p>
            <h4 class="drug-abuse"><strong>You Need to Know About Teenage Drug Abuse:</strong></h4>
            <div class="box important-box">
                <ul>
                    <li><strong>Family History.</strong> a parent or other close family member has a history of drug or alcohol abuse, it can mean that the teen is at a higher risk.</li>
                    <li><strong>Relationships.</strong> If a teenager is close to family or friends who abuse drugs or alcohol, they are more susceptible to experimenting themselves.</li>
                    <li><strong>Mental Health.</strong> When a child is diagnosed with a mental health or behavioral health condition early on (such as depression, anxiety or ADHD), often times they are medicated which can lead to prescription drug abuse
                        or even “self-medication” with street drugs and/or alcohol.</li>
                    <li><strong>Personal Development.</strong> Low self-esteem, poor social skills and other insecurities can also lead a teen to “self-medicate” with drugs or alcohol as a coping mechanism.</li>
                    <li><strong>Availability.</strong> Relationships with peers who abuse drugs or alcohol gives access to drugs and alcohol –teens are more likely to experiment with substances that are easy to get.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>