<div class="container">
    <div class="jumbotron">
    </div>
    <h1 class="display-3">TEEN@home <small>application</small></h1>
    <!--hightlight-item-->
    <p class="lead" hightlight-item>Be a helper <a routerLink="/donate">donate</a> to help develop it better!</p>
    <div class="row marketing">
        <div class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">.00</span>
            </div>
            <br>
            <p><a class="btn btn-lg btn-success right-align" routerLink="/donate" role="button">DONATE NOW!</a></p>
        </div>
    </div>
</div>
<br><br>
<br>