<footer class="container-fluid text-center navbar-fixed-bottom">
    <ul class="ul-footer">
        <li class="footer-link"><a class="a-nav-bottom a-nav-bottom-footer" routerLink="/how-to-use">How to use it</a><span>|</span></li>
        <li class="footer-link"><a class="a-nav-bottom a-nav-bottom-footer" routerLink="/about-us">About the App</a><span>|</span></li>
        <li class="footer-link"><a class="a-nav-bottom a-nav-bottom-footer" routerLink="/teen-jobs">Teen Jobs</a><span>|</span></li>
        <li class="footer-link"><a class="a-nav-bottom a-nav-bottom-footer" routerLink="/parent-guide">Parent helper</a><span></span></li>
        <li class="footer-link copyright"><strong>TEEN@home</strong> | <em>by A2 Genesis</em> &copy; Telerik Academy</li>
    </ul>
    <!--<ul class="list-inline">
        <li>
            <a href="https://twitter.com/intent/tweet?text=Hello%20world">
                <button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Share to Twitter</button>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Share to Facebook</button></a>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/">
                <button class="btn btn-linkedin"><i class="fa fa-linkedin"></i> | Share to Linkedin</button>
            </a>
        </li>
    </ul>-->
</footer>