<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home"><img class="logo" src="../../../../assets/logo.PNG"> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="/how-to-use">HOW TO USE IT</a></li>
                <li><a routerLink="/about-us">ABOUT THE APP</a></li>
                <li><a routerLink="/teen-jobs">TEEN JOBS</a></li>
                <li><a routerLink="/parent-guide">PARENT HELPER</a></li>
                <li><a routerLink="/contacts">CONTACTS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="dropdown" *ngIf="isLoggedIn()">
                    <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> PROFILE
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a routerLink="#">MY PROFILE</a></li>
                        <li class="divider"></li>
                        <li><a routerLink="#">EDIT PROFILE</a></li>
                        <li><a routerLink="#">JOBS VIEW</a></li>
                        <li><a routerLink="#">GROUP</a></li>
                        <li><a routerLink="#">TASKS</a></li>
                    </ul>
                </li>-->
                <li *ngIf="isLoggedIn()"><a routerLink="/my-group"><span class="glyphicon glyphicon-globe"></span> MY GROUP</a></li>
                <li *ngIf="isLoggedIn()"><a routerLink="/jobs"><span class="glyphicon glyphicon-equalizer"></span> JOBS</a></li>
                <li *ngIf="isLoggedIn()"><a routerLink="/my-profile"><span class="glyphicon glyphicon-user"></span> MY PROFILE</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="logout()" routerLink="/home"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
                <li *ngIf="!isLoggedIn()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in" ></span> LOGIN</a></li>
                <li *ngIf="!isLoggedIn()"><a routerLink="/register"><span class="glyphicon glyphicon-lock"></span> REGISTER</a></li>
            </ul>
        </div>
    </div>
</nav>